@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;600;800&display=swap');

html, body, * {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  box-sizing: border-box;
  font-family: 'Sono', sans-serif;
}


.admin-container {
  width: 100%;
  height: 100vh;
  background: #EEEEEE;
  position: relative;
  overflow: hidden;
}
a {
  text-decoration: none;
}

.sidebar {
  position: absolute;
  inset: 0 0 0 0;
  width: 320px;
  margin-left: -320px;
  background-color: #3c3c3d;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}
.sidebar.show {
  margin-left: 0px;
}
.side-links {
  flex-grow: 1;
  overflow: auto;
}

.side-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}

.side-content.show {
  margin-left: 320px;
}

.side-content main {
  flex-grow: 1;
  padding: 20px;
  overflow: auto;
  box-shadow: 0 0 50px #00000038 inset;
}

.side-content footer {
  padding: 15px;
  background: #ffffff;
}

.side-content header {
  padding: 15px;
  background: #c99d66;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.search-toggle {
  display: flex;
  gap: 10px;
}

.search-con {
  position: relative;
}

.search-icon {
  position: absolute;
  font-size: 20px;
  top: 19%;
  left: 5%;
}

.search-con .search-input {
  height: calc(100% - 4px);
  width: 350px;
  background: #ffffff87;
  border: none;
  border-radius: 20px;
  margin: 2px 0;
  padding-left: 50px;
  padding-right: 15px;
  transition: all 0.5s;
}

.search-con .search-input:focus {
  outline: none;
  box-shadow: 0 0 10px #0202022b;
}

.extra-links {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}
.head-comon-ic {
  height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    color: #ffffff;
}

.iin {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.crypto-card-1 {
  display: flex;
  gap: 15px;
  flex-direction: row;
  padding: 15px;
  background: #ffffff;
  border-radius: 20px;
}

.sidebar .crypto-card-1 {
  background: #73624d;
}
.crypto-card-1 .content {
  flex-grow: 1;
  overflow: auto;
}

.ruppe-grow {
  justify-content: space-between;
  display: flex;
}

.import-info, .side-links, .logo-con {
  padding: 20px;
}

.badge.bg-danger {
  background-color: #ff00001a !important;
  color: #fd1111;
}


.badge.bg-success {
  background-color: #19875426 !important;
    color: #12bb6d;
}

.logo-con h1 {
  font-weight: 800;
    color: #ffffff;
    text-align: center;
}

.logo-con h1 span {
  color: #c99d66;
}

.side-links .side-ul {
  padding: 0;
  list-style: none;
}

.side-links .side-ul li a {
  display: block;
  padding: 15px;
  display: flex;
  gap: 15px;
  color: #ffffff;
  font-size: 17px;
}
.side-links .side-ul li a:hover {
  color: #c99d66;
}

.side-links .side-ul li a > span {
  width: 20px;
  height: 20px;
}

.crypto-card-1 .icon .box {
  font-size: 40px;
  color: #e6d1b7;
}

.welcome-text {
  letter-spacing: -1px;
  font-weight: 600;
  color: #7c7d7d;
}
.welcome-text small {
  font-weight: 100;
  font-size: 20px;
}


.common-card h5 {
  font-weight: 100;
  font-size: 20px;
  color: #7c7d7d;
  margin-bottom: 18px;
}

.crypto-card-2 .icon img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.crypto-card-2 {
  padding: 15px;
  background: #ffffff;
  border-radius: 20px;
  min-width: 300px;
}

.crypto-card-2 .grow-box {
  position: absolute;
  z-index: 1;
  right: 15px;
  top: 13px;
}

.table-card {
  padding: 15px;
  border-radius: 20px;
}

.tab-div .icon img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.tab-div {
  align-items: center;
  gap: 10px;
}

.coin-table {
  vertical-align: baseline;
  margin-bottom: 0;
}

.coin-table th {
  color: #7c7d7d;
  font-weight: 100;
}

.coin-table td {
  font-weight: 600;
  padding: 10px;
}

.news-card {
  padding: 15px;
  border-radius: 20px;
}

.news-card .header p {
  color: #aeaeae;
  font-size: 15px;
}

.news-card .header h6 {
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-image {
  border-radius: 12px;
  box-shadow: 3px 4px 5px #0000003b;
}

.news-card p.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.provider {
  align-items: center;
  gap: 10px;
}
.provider img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 1px solid #d2d2d2;
  border-radius: 50%;
}
.provider h6 {
  font-weight: 600;
}
.provider .icon {
  font-size: 38px;
  color: #d7d7d7;
}

.news-card .details-btn {
  align-self: center;
}

.crypto-details .card {
  border-radius: 20px;
  padding: 15px;
}
.coin-card .icon img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.coin-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 15px;
}

hr {
  border-top: 1px dashed;
}

.link-icon.small a {
  font-size: 22px;
}

.link-icon a {
  font-size: 18px;
  width: 40px;
  height: 40px;
  background: #c99d66;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: #ffffff;
}

.text-center {
  text-align: center !important;
}